<section class="container callback-container">
    <h1 class="title-allPages">Обратный звонок</h1>
    <div style="border: 1px solid #D9D9D9; margin-top: 26px; width: 100%"></div>
    <main class="flex gap-[40px]">
      <div>
        <p class="subtitle w-[510px] pt-[18px]">
          Оставьте заявку и получите персональное
          предложение по лабораторному оборудованию.
          Наши специалисты свяжутся с вами в ближайшее время для обсуждения
          деталей и подбора оптимального варианта для вашей лаборатории
        </p>
        <form class="flex flex-col gap-[10px] pt-[14px] justify-start">
          <input class="int" placeholder="Ваше имя"/>
          <input class="int" placeholder="Телефон"/>
          <input class="int" placeholder="Сообщение" style="height: 120px"/>
          <div class="flex gap-[4px] mt-[22px]">
            <input type="checkbox">
            <p>Я согласен на обработку персональных данных</p>
          </div>
          <button class="btn w-[178px] mt-[22px]">
            Отправить
          </button>
        </form>
      </div>
      <div>
        <h1 style="font-weight: 800; font-size: 14px; padding-top: 14px">Ваш заказ</h1>
        <div style="border: 1px solid #D9D9D9; margin-top: 26px; width: 290px"></div>
        <p style="font-weight: 400; font-size: 10px; color: #015198; padding-top: 18px;">
          Вальцовый уплотнитель 320х260 мм
        </p>
        <div style="border: 1px solid #D9D9D9; margin-top: 18px; width: 290px"></div>
      </div>
    </main>
</section>
