.footer-nav {
  max-width: 382px;
  width: 100%;
}
.footer-nav_list {
  display: flex;
  gap: 40px;
  justify-content: center;
  a {
    font-weight: 500;
    font-size: 10px;
    color: #F1F9FF;
  }
}
@media (max-width: 999px) {
  .footer-container {
    display: none;
  }
}
