<div class="container">
  <img routerLink="Home" src="assets/img/logo.png" style="cursor: pointer">

  <div class="register-container">

    <form (ngSubmit)="onRegister()" #registerForm="ngForm">
      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="credentials.email"
          placeholder="admin@example.com"
          required>
      </div>

      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="credentials.password"
          placeholder="Введите пароль"
          required>
      </div>

      <div class="form-group">
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          [(ngModel)]="credentials.confirmPassword"
          placeholder="Подтвердите пароль"
          required>
      </div>

      <div class="flex items-center gap-6 justify-center">
        <button type="submit" [disabled]="registerForm.invalid || isLoading" class="btn register-btn">
          {{ isLoading ? 'Регистрация...' : 'Зарегистрироваться' }}
        </button>

        <a routerLink="/login" class="login-link">Вход</a>
      </div>

      <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </div>

      <div *ngIf="successMessage" class="success">
        {{ successMessage }}
      </div>
    </form>

    <div class="back-to-site">
      <a (click)="goBackToSite()">← Back to main site</a>
    </div>
  </div>
</div>
