.good-image {
  border: 1px solid #D9D9D9;
  padding: 20px 12px;
  width: 366px;
  height: 358px;
  object-fit: contain;
  flex-shrink: 0;
  align-self: flex-start;
}

.subtitle {
  color: #000
}

.good-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  padding: 7px;
  border: 1px solid #828282;
  width: 83px;
  height: 25px;
}
