.subtitle-contacts {
  font-weight: 500;
  font-size: 10px;
  color: #000000;
}
.contacts-title {
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  padding-bottom: 4p
}

.map-container {
  width: 100%;

  iframe, script {
    border: 0;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 999px) {
  .contacts-container {
    display: none !important;
  }

  .container {
    padding: 0;
  }

  .map-container {
    padding: 0;
    margin: 66px 0 0 0 !important;
    width: 100%;
  }
}
