<section class="mini-container flex flex-col gap-[25px]">
  <div class="font-normal text-base">О нас</div>
  <p style="font-size: 10px">ООО "Трастинвест" — официальный дилер и представитель ведущих производителей лабораторного оборудования. Компания на рынке уже 18 лет, специализируется на поставках надежного лабораторного оборудования, а также аналитических приборов и мебели для лабораторий. Предлагаем комплексные решения для контроля качества продукции и комплектные поставки для различных отраслей, включая дорожное строительство и энергетическую промышленность. Наш ассортимент включает широкий спектр оборудования и мебели, с около 400 вариантами.</p>
</section>
